<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/dashboard.css">
    <title>Document</title>
</head>
<body>
    <nav class="flex-row-center-center">
        <a href="#"><img src="https://via.placeholder.com/50x50" alt="Icon 1"></a>
        <a href="#"><img src="https://via.placeholder.com/50x50" alt="Icon 2"></a>
        <a href="#"><img src="https://via.placeholder.com/50x50" alt="Icon 3"></a>
        <a href="#"><img src="https://via.placeholder.com/50x50" alt="Icon 4"></a>
    </nav>
    <h1>DASHBOARD</h1>
</body>
</html>