<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="public/styles/style.css">
    <title>Home page</title>
</head>
<body>
    <div class="container">
        <nav id="navbar" class="navbar">
            <div class="navbar-container">
                <div class="navbar-section section-left">
                    <a class="navbar-button" href="home-page" name="home">
                        <span class="navbar-icon"><i class="bi bi-house"></i></span>
                        <span class="navbar-label">Home</span>
                    </a>
                    <div class="dropdown">
                        <a class="navbar-button" name="categories" onclick="toggleDropdown('categories')">
                            <span class="navbar-icon"><i class="bi bi-columns-gap"></i></span>
                            <span class="navbar-label">Categories</span>
                        </a>
                        <div id="categories_dropdown" class="dropdown-content">
                            <a href="#" class="dropdown-link"> 
                                <span class="dropdown-icon"><i class="bi bi-laptop"></i></span>
                                <span>Technology</span>
                            </a>
                            <a href="#" class="dropdown-link"> 
                                <span class="dropdown-icon"><i class="bi bi-controller"></i></span>
                                <span>Gaming</span>
                            </a>
                        </div>
                    </div>
                    <a id="search_button" class="search-button" name="search" onclick="toggleSearchBar()">
                        <input id="search_input" type="text" class="search-input" placeholder="Search">
                        <span class="navbar-icon"><i class="bi bi-search"></i></span>
                        <span class="search-clear-icon"><i class="bi bi-x-lg" onclick="clearSearchBarInput()"></i></span>
                    </a>
                </div>
                <div class="navbar-section section-rigth">
                    <a class="navbar-button" href="favourites" name="favourites">
                        <span class="navbar-icon"><i class="bi bi-star"></i></span>
                        <span class="navbar-label">Favourites</span>
                    </a>
                    <a class="navbar-button" href="new-post" name="new-post">
                        <span class="navbar-icon"><i class="bi bi-plus-circle"></i></span>
                        <span class="navbar-label">New post</span>
                    </a>
                    <div class="dropdown">
                        <button class="navbar-button" name="account" onclick="toggleDropdown('account')">
                            <span class="navbar-icon"><i class="bi bi-person"></i></span>
                            <span class="navbar-label">Account</span>
                        </button>
                        <div id="account_dropdown" class="dropdown-content account-dropdown">
                            <a href="#" class="dropdown-link"> 
                                <span>Change username</span>
                            </a>
                            <a href="#" class="dropdown-link"> 
                                <span>Change e-mail</span>
                            </a>
                            <a href="#" class="dropdown-link"> 
                                <span>Change password</span>
                            </a>
                            <a href="#" class="dropdown-link"> 
                                <span>Log out</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="subnav">
            <div class="subnav-container">
                <div class="dropdown">
                    <button class="subnav-button" name="subnavDropdown" onclick="toggleDropdown('subnav')">
                        <span class="subnav-label">Hot</span>
                        <span class="subnav-icon"><i class="bi bi-caret-down-fill"></i></span>
                    </button>
                    <div id="subnav_dropdown" class="dropdown-content">
                        <a href="#" class="dropdown-link"> 
                            <span>New</span>
                        </a>
                        <a href="#" class="dropdown-link"> 
                            <span>Last call</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-item">
                <div class="content-item-grid">
                    <div class="content-image">
                        <img src="public/assets/images/aparat-fujifilm-instax-mini-12-pastel-blue-niebieski.jpg" alt="item image"></img>
                    </div>
                    <div class="content-user-data">
                        <span><i class="bi bi-person-circle"></i></span>
                        <p class="content-user-data-username">user_1</p>
                        <p class="content-spacer"> - </p>
                        <p class="content-user-data-upload-date">1d</p>
                    </div>
                    <div class="content-item-data">
                        <div class="content-item-title">
                            FUJIFILM Instax Mini 12
                        </div>
                        <div class="content-item-price">
                            <span class="content-current-price">200zł</span>
                            <span class="content-old-price">356zł</span>
                            <div class="content-item-delivery-price">
                                <span><i class="bi bi-truck"></i></span>
                                <span>Free delivery</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam rerum inventore porro quas, tenetur, nisi, nobis velit aliquam magnam earum fuga. Voluptatem pariatur dignissimos dolorem aspernatur illum molestias quibusdam!
                    </div>
                    <div class="content-item-actions">
                        <button class="content-button content-like">
                            <span><i class="bi bi-heart"></i></span>
                            <p>125</p>
                        </button>
                        <button class="content-button content-favourites">
                            <span><i class="bi bi-star"></i></span>
                        </button>
                        <button class="content-button content-catchdeal">
                            Catch the deal
                            <span><i class="bi bi-link"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus autem reiciendis repellat error, illum recusandae? Molestias, dicta debitis minus eum, veritatis iste suscipit cumque esse corporis omnis tenetur delectus praesentium.
        </footer>
    </div>
    <script type="text/javascript" src="./public/scripts/main.js" defer></script>
</body>
</html>