<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Sing up</title>
</head>
<body>
    <div class="container"> 
        <div class="box form-box">
            
            <header>Sing up</header>
            <div class="links">
                <div>If you already have an account</div>
                <div>You can <a href="sing-in">Login here!</a></div>
            </div>

            <form action="" method="post">
                <div class="field input">
                    <input type="email" name="email" id="email" placeholder="Enter e-mail" required>
                </div>

                <div class="field input">
                    <input type="username" name="username" id="username" placeholder="Enter username" required>
                </div>

                <div class="field input">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>

                <div class="field input">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required>
                </div>
            
                <div class="field">
                    <input type="submit" class="button" name="submit" value="Register" required>
                </div>
            
            </form>
        </div>
    </div>
</body>
</html>