@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #4D47C3;
}
@media (max-width: 765px) {
    body{
        background: white;
    }
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 765px) {
    .box{
        box-shadow: none;
    }
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 26px;
    font-weight: 600;
    
}
.links {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
a{
    color: #4D47C3;
}
a:hover{
    opacity: 0.7;
}
.form-box form .field{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    border-radius: 15px;
}
.form-box form .input input{
    height: 60px;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    background: #F0EFFF;
    font-size: 16px;
    padding: 0 10px;
}
.form-box form .input input::placeholder{
    color: #A7A3FF;
}
.button{
    height: 60px;
    border-radius: 8px;
    border: 0px;
    background: #4D47C3;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
    font-size: 16px;
}
.button:hover{
    opacity: 0.7;
}
.submit{
    width: 100%;
}