.form-box{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 90vw;
    margin: 0px 10px;
    border-radius: 15px;
}
.form-box header{
    font-size: 26px;
    font-weight: 600;
}
.form-box .links {
    margin-bottom: 30px;
}
.form-box a{
    color: #4D47C3;
}
.form-box a:hover{
    opacity: 0.7;
}
.form-box .field{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.form-box input{
    height: 60px;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    padding: 0 30px 0 10px ;
}
.form-box .input input{
    background: #F0EFFF;
}
.form-box .field .password-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #A7A3FF;
}
.form-box form .input input::placeholder{
    color: #A7A3FF;
}
.form-box .button{
    height: 60px;
    border-radius: 8px;
    border: 0px;
    background: rgb(77, 71, 195);
    box-shadow: rgba(77, 71, 195, 0.65) 0px 5px 30px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.form-box .button:hover{
    opacity: 0.7;
}
@media (min-width: 800px) {
    body{
        background:  #4D47C3;
    }
    .form-box{
        width: 450px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
