
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #4d47c3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
body{
    background: #EEEEEE;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: max(50px, 7vh);
    min-height: 50px;
    background-color: var(--primary);
    transition: top 0.3s;
    padding: 0 20px;
    box-shadow: rgba(77, 71, 195, 0.45) 0px 5px 30px 0px;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    min-height: 50px;
}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}
.navbar .dropdown-button {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    margin: 0;
}
.navbar button:hover {
    opacity: 0.7;
}
.navbar a:hover{
    opacity: 0.7;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.account-dropdown{
    right: 0;
}
.dropdown-content {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--primary);
    padding: 20px 30px;
    min-width: 160px;
    border-radius: 15px;
    overflow: auto;
}
.dropdown-content-visible {
    display: block;
}
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-link{
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}
.subnav{
    margin-top: max(50px, 7vh);
    width: 100%;
    height: max(50px, 5vh);
    min-height: 40px;
    transition: top 0.3s;
    padding: 0 20px;
    border-bottom: 1px solid black;
    background-color: white;
}
.subnav-container{
    display: flex;
    align-items: center;
    height: inherit;
}

.subnav .dropdown {
    color:var(--primary);
    background: none;
    border: none;
    height: 100%;
    border-bottom: 3px solid var(--primary);
    margin-left: 3vw;
    min-width: 7vw;
    text-align: center;
}

.subnav .dropdown-button:hover{
    opacity: 0.7;
}

.subnav .dropdown-button{
    border: none;
    outline: none;
    color: var(--primary);
    padding: 15px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    margin: 0;
}
.subnav .subnav-label{
    font-size: 26px;
    font-weight: 500;
    padding: 0 10px;
}


.content-item-card {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    max-width: 80vw;
    margin-top: 50px;
}

.content-data{
    display: flex;
    flex-direction: column;
}

.content-data > *{
    padding: 25px;
}

.content-user-data{
    display: flex;
    flex-direction: row;
}

.content-user-data > * {
    margin-right: 10px; 
}


.content-item-data {
    flex-grow: 1;
}
.content-item-actions{
    margin-top: auto
}


@media (max-width: 800px) {
    .navbar-label{
        display: none;
    }
    .subnav .dropdown {
        margin-left: 0;
    }
    .subnav .subnav-label{
        font-size: 20px;
    }
    .navbar-button{
        font-size: 20px;
    }
    .navbar{
        padding: 0 10px;
    }
}